<body>
    
    
      <div class="cont2">
          <h1 class="t1">¿Cómo comprar Online?</h1><br><br><br><br><br><br><br>
          <p class="pa">Queremos brindarte una experiencia única a la hora de escoger tu pelicula y comida, ven y disfruta.</p><br><br><br><br>
          <ul class="numero">
              <li><a>1</a></li>
              <li><a>2</a></li>
              <li><a>3</a></li>
              <li><a>4</a></li>
              <li><a>5</a></li></ul>
          <ul class="texto">
              <li><a>Regístrate</a></li>
              <li><a>Escoge la película y productos que desees</a></li>
              <li><a>Escoge el dia y la hora</a></li>
              <li><a>Escoge la silla</a></li>
              <li><a>Muestra el código a la entrada</a></li>
          </ul>
             
      </div>
      <div class="cont3">
          <h1 class="t2">En Cartelera</h1>
          <h2 class="t3">Conoce los últimos estrenos</h2>
         
          
      </div>
      <div class="cont4">
       <img class="img1" src="assets/imagenes/cine1.PNG">
       <img class="img2" src="assets/imagenes/cine2.PNG">
       <img class="img3" src="assets/imagenes/cine3.PNG">
       <img class="img4" src="assets/imagenes/cine4.PNG">
       <img class="img5" src="assets/imagenes/cine5.PNG">
          <input type="button" class="btn1" value="Ver todas las peliculas">
      </div>
      <div class="cont5">
          <h1 class="t4">Próximos estrenos</h1>
          <h2 class="t5">Prepárate para ver estas increibles peliculas</h2>
      </div>
      <div class="cont6">
          <img class="img6" src="assets/imagenes/estreno1.PNG">
          <img class="img7" src="assets/imagenes/estreno2.PNG">
          <img class="img8" src="assets/imagenes/estreno3.PNG">
          <img class="img9" src="assets/imagenes/estreno4.PNG"><br>
          <img class="img10" src="assets/imagenes/estreno5.PNG"> 
          <img class="img11" src="assets/imagenes/estreno6.PNG">
          <img class="img12" src="assets/imagenes/estreno7.PNG">
          <img class="img13" src="assets/imagenes/estreno8.PNG">
          <input type="button" class="btn2" value="Ver todas las peliculas">
      </div>
      <footer class="f">
          <p class="p6">2021 Derechos reservados</p>
         
      </footer>
     
    </body>
